//VARS
$c-dark: #7b7b7b;
%small {
  font-size: .75rem;
  font-weight: normal;
}
#a{
 width: 244px;
}
#b{
  width: 266px;
  margin-left: 10px;
  margin-right: 70px !important;
 }
#Péritél_1{
  width: 517px;
}
 #c{
   display: inline;
   margin-left: 100px;
   font-weight: bold;
 }
 #card{
   background-color: #212121;
 }
 #Péritél{
   width:482px;
 }
 #title{
   margin-left: 10px;
   margin-top: 10px;
   color: black;
 }
 #input_2{
  width: 450px;
  margin-left: 15px;
 }
 #col_2{
   left: 20px;
 }
 #ou{
   margin-left: 20px;
   font-weight: bold;
 }

 .btn-style{
  width: 102px;
  font-size: 14px !important;
  float: right;
  ;
 }
 #drop{
 left: 20px;
 width: 200px;
 }

 #v{
   display: inline;
   margin-left: 20px;
   font-weight: bold;
 }
 .col-sm-6{
   display: inline-block;
 }
 #link{
   margin-top: 20px;
   margin-left: 16px;
   color : white ; 
 }
 #btn_1{
   width: 185px;
   border-radius: 11px;
   height: 40px;
 }

 #btn_2{
  width: 50px;
  height: 38px;
}
 #input{
   width: 185px;
   border-radius: 11px;
   height: 40px;
   margin-left: 20px;;
 }
 #input1{
  width: 185px;
  height: 38px;
  margin-left: 20px;;
}
.mr1{
  font-size: large;
}
.content {
    .publication-form {
      border: 1px solid #dcdcdc;
    }
  };

  .bs-maring-top {
    margin-top: 10px;
  }

  //Placeholder
  %p {
    font-size: 1rem;
    font-weight: normal;
  }
  %h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  %h2 {
    font-size: 1.125rem;
    //font-weight: bold;
  }
//end placeholder
.bloc{ 
margin-top: 0.5 rem;

&__title {
  font-size: 1rem !important;
}
}
  .left {
    margin-top:0.5rem;
    padding-right: 1rem;
    border-radius: .7rem;
    &__avatar {
      width: 12.5rem;
      height: 10.5rem;
      object-fit: cover;
      border-radius: .7rem;
    }
    &__avatarhome {
        width: 6.5rem;
        height: 4.5rem;
        object-fit: cover;
        border: 3px solid white;
        box-shadow: 1px 1px #f2f2f2;
        border-radius: .7rem;
        // max-width: 120px !important;
        height: auto !important;
      }
      &__artcodic {
        @extend %h2;
        color: #212121;
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1em;
      }
      &__artname {
        @extend %h2;
        color: #212121;
        margin-top: 1rem;
    
        font-size: 1em;
      }
      &__description {
        @extend %p;
        color: #212121;
        margin-bottom: 1rem;
      }
    }

    .left-meta {
        margin-top: -0.5rem;
        color: $c-dark;
        margin-left: 0rem;
        @extend %p;
      
        &__icon {
          width: 1.5rem;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
      
          display: inline-block;
        }
      }

    
      .text-size-details{
        font-size: 0.64rem;
      }

      .bloc__title{
        font-size: 0.5rem;
      }

      .form-group2 {
        width : 276px;
        margin-left: 7px;
      }
     
  
      .search-form span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #f2f2f2;
        left: initial;
        font-size: 14px;
      }

    

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #dc3545;
    border-radius: 10px;
    padding: 10px;
    
    }
// 
#icon{
  color:white ;
}
    .search_input{
    color: #f2f2f2;
    border: 0;
    background:none;
    margin-bottom: 20px;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
   
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color: #dc3545;
    transition: width 0.4s linear;
    
    }

  #margin{
   background-color:grey;
  //  display: inline-block;
 
  padding-left: 145px;
  height: 600px;
  width: 100%;
  }
    

.padding-body {
    padding-top: 0px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.title-padding {
  padding: 0px 0px 0px 12px;
}